
.products {
    border-top: 1px solid #ddd;
}

.products>li {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

.row {
    position: relative;
    overflow: auto;
    width: 100%;
    height: auto;
}

.col,
.quantity,
.remove {
    float: left;
}

.col.left {
    width: 70%;
    display: flex;
}

.name a{
    text-decoration: none;
    color: black;
}

.col.right {
    width: 30%;
    position: absolute;
    right: 0;
    top: calc(50% - 30px);
}

.detail {
    padding: 0 0.5rem;
    line-height: 2.2rem;
}

.detail .name {
    font-size: 1.2rem;
}

.detail .description {
    color: #7d7d7d;
    font-size: 1rem;
}

.detail .price {
    font-size: 1.2rem;
}

.quantity,
.remove {
    width: 50%;
    text-align: center;
}

.remove svg {
    width: 60px;
    height: 60px;
}

.quantity>input {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    left: calc(50% - 30px);
    background: #fff;
    border: 2px solid #ddd;
    color: #7f7f7f;
    text-align: center;
    font: 600 1.5rem Helvetica, Arial, sans-serif;
}

.quantity>input:hover,
.quantity>input:focus {
    border-color: #000000;
}

.close {
    fill: #7d7d7d;
    transition: color 150ms linear,
        background-color 150ms linear,
        fill 150ms linear,
        150ms opacity linear;
    cursor: pointer;
}

.close:hover {
    fill: #000000;
}

@media screen and (max-width:850px){
    .thumbnail img{
        height: 150px;
        width:110px
    }
    .name a {
        text-decoration: none;
        color: black;
    }
    .col.right {
        display: flex;
        flex-direction: column;
        width: auto;
        top: 30px;
    }
    .name a {
        font-size: 1rem;
    }
    .quantity,
    .remove {
        width: auto;
        text-align: center;
    }
    .detail .price {
        font-size: 1rem;
    }

        .detail .description {
            display: none;
        }
}
