.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 225px);
  left: 225px;
  transition: all 0.5s ease;
}
.home-section-mobile{
  width: calc(100% - 60px); 
  left: 60px;
}
.home-section .admin-nav{
  display: flex;
  justify-content: space-between;
  height: 70px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 225px);
  left: 225px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.home-section-mobile .admin-nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section .admin-nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
.admin-nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}
.home-section .admin-nav .search-box{
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}
.admin-nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
.admin-nav .search-box .bx-search{
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}
.home-section .admin-nav .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  /* min-width: 190px; */
  /* padding: 0 15px 0 2px; */
}
.admin-nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
.admin-nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

@media screen and (max-width:450px){
    /* .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    left: 220px;
    width: calc(100% - 220px);
    overflow: hidden;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  } */

  .home-section nav .search-box{
  position: relative;
  height: 50px;
  max-width: 200px;
  width: 50%;
  margin: 0;
}

nav .sidebar-button i{
  font-size: 30px;
  margin-right: 0px;
  margin-left: 0;
}

nav .profile-details .admin_name{
    display: none;
}

.home-section nav .search-box{
    display: none;
}
}