.canvas-class-canvas {
  /* margin-top: 60px; */
  /* margin-left: 35vw; */
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

/* CSS */
.button-300 {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  border: 5px solid black;
  color: rgb(255, 255, 255);
  background-color: white;
}


@media screen and (max-width: 500px) {
  .canvas-class {
    margin-top: 200px;
  }
  .canvas-class-canvas {
    /* margin-left: 7px; */
  }
}
