.profile-container{
    height: 100vh;
    width: 100wh;
    /* background-color: rgb(158, 158, 158); */
    margin-top: 65px;
    display: flex;
    flex-direction: row;
}
.profile-sub-1{
    width: 300px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding:50px 20px 0 20px;  
}

.profile-cat{
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 12px;
    display: block;
}

.profile-cat:hover{
    background-color: rgba(185, 185, 185, 0.493);
}

.profile-sub-2{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-left: 1px solid black;
}

.down-pf{
    height: 40px;
}

.profile-sub-3{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    margin-bottom: 20px;
}

.profile-sub-3 h4{
    /* margin-left: -100px; */
    width: 100px;
    margin-right: 50px;
    height: 45px;
}

.profile-sub-3 input{
    /* height: 45px; */
    width: 60%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.profile-sub-3 button{
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    width: 30%;
}

.profile-sub-3 button:hover{
    background-color: black;
    color: white;
}

.profile-sub-4{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    margin-bottom: 20px;
}

.profile-sub-4 h4{
    /* margin-left: -100px; */
    width: 200px;
    margin-right: 50px;
    height: 45px;
}

.profile-sub-4 input{
    /* height: 45px; */
    width: 60%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.profile-sub-4 button{
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    width: 30%;
}

.profile-sub-4 button:hover{
    background-color: black;
    color: white;
}

.profile-mb-1{
    display: none;
}

@media screen and (max-width:650px) {
    .profile-container{
    /* height: 100vh; */
    height: auto;
    width: 100vw;
    /* background-color: rgb(158, 158, 158); */
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    }

    .profile-sub-1{
        width: 100vw;
        padding: 50px 20px 50px 20px;
        height: auto;
        margin: 0px;
    }

    .profile-sub-2{
    background-color: rgb(255, 255, 255);
    /* height: 1000px; */
    height: auto;
    width: 100vw;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-left: 1px solid black;
    }

    .profile-sub-3{
        display: flex;
        flex-direction: column;
        /* display: block; */
    }
    .profile-sub-3 input{
    height: 45px;
    width: 100%;
    }

    .profile-sub-4{
        display: flex;
        flex-direction: column;
    }

    .profile-sub-4 input{
    height: 45px;
    width: 100%;
    }

    .profile-sub-3 button{
        width: 100%;
    }

    .profile-sub-4 button{
        width: 100%;
    }

    .profile-sub-3 h4{
        height: 30px;
    }

    .profile-sub-4 h4{
        height: 30px;
    }

    .profile-sub-1{
        display: none;
    }

    .profile-mb-1{
        display: block;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .profile-cat-mb{
        background-color: rgb(255, 255, 255);
        padding: 10px 0;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        /* border: 1px solid black  ; */
        cursor: pointer;
        /* margin-bottom: 12px; */
        /* display: block; */
    }

    .profile-mb-1{
        margin-bottom: 10px;
    }

    .profile-cat{
        margin-bottom: 0;
    }
    .profile-cat-main-mb{
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        margin-bottom: 2px;
    }
}
