.exp{
    height: 65px;
}
.profile-container{
    height: 80vh;
}

.profile-user-details{
    margin: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile-user-details-sub{
    padding: 20px;
}


.profile-user-address{
    margin: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}