#prodetails{
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#MainImg{
    /* border-radius: 10px; */
    height: 550px;
    width: 100%;
}

#MainImg:hover{
    border: 2px solid black;
}

.small-img{
    height: 150px;
    /* border-radius: 10px; */
    width: 100%;
}

.small-img:hover{
    border: 2px solid black;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px   ;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details .normal{
    font-weight: 600;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    padding: 12px;
    border-radius: 3px;
}

#prodetails .single-pro-details .normal:hover {
    background-color: black;
    color: white;
}

#prodetails .single-pro-details input:focus{
    outline: none;   
}

#prodetails .single-pro-details span{
    line-height: 25px;
}


@media screen and (max-width:900px){
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0;
    }
    #prodetails .single-pro-details{
        width: 100%;
    }
}

@media screen and (max-width:450px) {

    #MainImg{
        height: 450px;
    }

    #prodetails {
        display: flex;
        flex-direction: column;
        margin-left: 2px;
        margin-right: 2px;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    .small-img{
        height: 120px;
    }
}