/* @import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Sono:wght@200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Sono:wght@200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&family=Roboto+Condensed:ital,wght@1,300&family=Sono:wght@200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Slabo+27px&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@500&family=Slabo+27px&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Raleway:wght@500&family=Roboto:wght@500&family=Slabo+27px&display=swap');


@font-face {
font-family: "Futura";
src: local("Futura"),
 url("./../public/fonts/futura/futura light bt.ttf") format("truetype");
font-weight: 500;
}

@font-face {
font-family: "FuturaBold";
src: local("Futura"),
 url("./../public/fonts/futura/futura medium bt.ttf") format("truetype");
font-weight: 600;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif;  */
    /* font-family: 'Bigelow Rules', cursive; */
    /* font-family: 'Sono', sans-serif;  */
    font-family: 'Raleway';
    /* font-family: 'Futura'; */
    /* letter-spacing: 0.1px; */

}

.App {
    /* font-family: sans-serif; */
    /* text-align: center; */
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* background-color: #f5f6fa; */
    /* background-color: #F8F9FA; */
    background-color: white;
}
